:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
}
.nav-list-link:hover, .contacts-list-link:hover{
    color: var(--primary-color);
}
.nav-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.portofolio-section{
    padding-top: 94px;
    padding-bottom: 94px;
    
}

.filters-list{
    display: flex;
    justify-content: center;
    gap: 8px;
}

body{
    font-family: Roboto;
    font-size: 14px;
}
.nav-list-link{
    font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;
}
.contacts-list{
    display: flex;
    gap: 50px;
    margin-left: auto;
}
.header-content-wrap{
    display: flex;
    align-items: center;
    gap: 93px;
}
header{
    padding-top: 32px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    padding: 10px;
}
.header-logo{
    color: #000000;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700px;
    line-height: normal;
    letter-spacing: ;
}

.filter-list-item{
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500px;
    line-height: 26px;
    letter-spacing: 0.48px;

}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.contacts-list-link{
    font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
color: var(--secondary-color);
line-height: normal;
font-style: normal;
}
.section-hero-title{
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
    max-width: 696px;
    margin: 0 auto;
    color: #FFFFFF;
}
.address-list-link{
    color: ;
}

.address-list-link{
    color: #FFFFFF;
}


.section-hero-btn{
    font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.06em;
text-align: center;
color: #FFFFFF;
width: 216px;
height: 50px;
border-radius: 4px;
background-color: #2F303A;
margin-top: 30px;
}
.features-list-title{
    font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
text-align: left;
color: #212121;
margin-top: 30px;
margin-bottom: 10px;
}

.features-list-item:nth-child(1)::before{
    content: "";
    width: 270px;
    height: 120px;
    background-image: url(./Group4.png);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

.features-list-item:nth-child(2)::before{
    content: "";
    width: 270px;
    height: 120px;
    background-image: url(./Rectangle\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

.features-list-item:nth-child(3)::before{
    content: "";
    width: 270px;
    height: 120px;
    background-image: url(./Group\ 3.png);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

.features-list-item:nth-child(4)::before{
    content: "";
    width: 270px;
    height: 120px;
    background-image: url(./Group\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}


.features-list{
    display: flex;
    gap: 30px;
}
.features-list-text{
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
color: #757575;
}
.section-work-title{
    font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
margin-bottom: 50px;
}
.section-team-title{
    font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
margin-bottom: 50px;
}


.team-list-name{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;    
    margin-bottom: 10px;
}
.team-list-role{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
color: #757575;    
margin-top: 10px;
}
.address-list-item{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
color: #FFFFFF;    
}
.logo{
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
    text-align: left;
    color: #2196F3;
}
.footer-logo{
    color: white;
}
section{
    margin-top: 20px;
    margin-bottom: 20px;
}
.logo{
    font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0.03em;
text-align: left;

font-family: Oleo Script;
font-size: 26px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0.03em;
text-align: left;
color: #000000;
color: #2196F3;
}

.filters-list-btn{
    margin-bottom: 50px;
    width: 130px;
    height: 38px;
    top: 174px;
    left: 957px;
    border-radius: 4px;


}

.nav-link{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
color: #212121;    
}
.contact-link{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
color:#757575;
}
.button{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
color: #212121;    
}
.item-image{
 margin-bottom: 20px;
}

.item-title{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #212121;
}
.item-text{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
color: #757575;    
}
.address-link{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF;
}
footer{
    background: #2F303A;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15xp;
    padding-right: 15px;
}
.section-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background: #2F303A;
    text-align: center;
    background-image: url(Img\ \(2\).png);
}


.section-hero-title {
    font-size: 2rem;
    width: 696px;
    height: 120px;
    top: 280px;
    left: 452px;
    max-width: 500px;
}

.section-hero-btn {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.section-features {
    padding: 94px 0;
}


.section-work {
    background: #fff;
    padding: 40px 0;
    text-align: center;
}

.section-work-title {
    font-size: 2rem;
}

.work-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work-list-item {

}

.section-team {
    background: #f9f9f9;
    padding: 40px 0;
    text-align: center;
}

.section-team-title {
    font-size: 2rem;
}


.team-list {
    list-style: none;
    display: flex;
    gap: 30px;
}

.team-list-item {

}
.team-list-content-wrap{
    padding: 30px 0;
}
footer{
    padding: 60px 0;
}